@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

.head {
  padding: 95px 0;
  .h-group {
    h1 {
      font-family: 'Helvetica Now Display';
      font-style: normal;
      font-weight: bold;
      font-size: 2.25rem;
      line-height: 130%;
      color: #000036;
    }
    h5 {
      font-family: 'Helvetica Now Display';
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 130%;
      color: #616161;
    }
  }
}

.first-post {
  position: relative;
  img {
    width: 100%;
    transition: .3s;
    border-radius: 2px;
  }
  a {
    &:hover {
      img {
        transform: scale(1.025);
      }
    }
  }
  .card {
    position: absolute;
    bottom: -86px;
    left: 475px;
    max-width: 605px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(213, 216, 218, 0.25);
    border-radius: 2px;
    &-body {
      padding: 1.563rem 1.75rem;
      .media {
        img {
          width: 40px;
          height: 40px;
          margin-right: 15px;
        }
      }
      .name {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #4F4F4F;
      }
      .post {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #4F4F4F;
      }
    }
    &-subtitle {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: #9CA1B2;
      margin-bottom: 15px;
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 1.75rem;
      line-height: 150%;
      color: #353E47;
      max-width: 537px;
      margin-bottom: 20px;
    }
  }
}
.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  li {
    a {
      display: block;
      margin: 0 10px;
      svg path {
        transition: .2s;
      }
      &:hover {
        svg path {
          fill: #1A99B6;
        }
      }
    }
    
  }
}

.news-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 120%;
  color: #000036;
  margin-bottom: 30px;
  margin-top: -5px;
}

.news-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
  img {
    width: 95px;
    height: 95px;
    transition: .3s;
    margin-right: 18px;
  }
  .content {
    max-width: calc(100% - 113px);
    .date {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: #9CA1B2;
      margin-bottom: 6px;
    }
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
      color: #353E47;
    }
  }
}

.input-search {
  max-width: 380px;
  position: relative;
  margin-right: 25px;
  width: 100%;
  input {
    margin: 0;
    background: #FFFFFF;
    border: 1px solid rgba(80, 88, 118, 0.35);
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    &::placeholder {
      color: #9CA1B2;
    }

  }

  .form-control-search {
    background: 0 0;
    border: 0;
    padding-right: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 99;
  }
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #142948;
  }
}
.tags-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  li {
    margin-left: 20px;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
//      color: #1A99B6;
    }
  }
}

.search-block {
  padding: 60px 0 40px;
}

.posts {
  &-item {
    position: relative;
    a {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    margin-bottom: 70px;
    img {
      transition: .3s;
      border-radius: 3px;
    }
    .card {
      &-body {
        padding: 15px 0;
      }
      &-date {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        color: #9CA1B2;
        margin-bottom: 12px;
        span {
          color: #1A99B6;
        }
      }
      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 1.375rem;
        line-height: 120%;
        color: #000036;
        min-height: 78px;
        margin-bottom: 14px;
      }
    }
  }
}

.pagination-style {
  display: flex;
  margin: 0;
  .page-item {
    &:first-child {
      svg {
        margin-right: 16px;
      }
    }
    &:last-child {
      svg {
        margin-left: 16px;
      }
    }
    &.disabled {
      .page-link {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: #9CA1B2;
      }
    }
    &.active {
      .page-link {
        background: 0 0;
        color: #1A99B6;
        border: 1px solid #1A99B6;
        box-sizing: border-box;
        border-radius: 3px;
      }
    }
  }
  .page-link {
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #1A99B6;
    min-width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0 5px;
    &:hover {
      background: 0 0;
      color: #353E47;
    }
  }
}

.tags-block {
  padding: 50px 0;
  .tags {
    justify-content: center;
  }
}

.start {
  background: linear-gradient(180deg, #1AA3BC 0%, #198FB0 100%);
  border-radius: 2px;
  padding: 60px 0;
  .h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 55px;
  }
}
.btn-secondary {
  border: 0;
  max-width: 300px;
  width: 100%;
  text-align: center;
  background: #FFFFFF;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #1A92B2;
  padding: .59rem 1.563rem;
  &:hover {
    background: #fff;
    color: #1A92B2;
    opacity: .8;
  }
}

.footer {
  padding: 50px 0;
  &-title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 14px;
  }
  &-social {
    list-style: none;
    padding: 0;
    margin: 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
      margin-right: 27px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        &:hover {
          svg {
            path {
              fill: #1AA3BC;
            }
          }
        }
        svg {
          path {
            transition: .3s;
          }
        }
      }
    }
  }
  
  &-list {
    list-style: none;
    padding: 0;
    margin: 25px 0 0;
    li {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 20px;
      color: #272727;
      a {
        color: #272727;
        &:hover {
          opacity: .8;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.single-img {
  img {
    width: 100%;
  }
}

.single-head {
  padding: 160px 0 65px;
  .first-post {
    .card {
      right: inherit;
      left: -65px;
      bottom: -95px;
      box-shadow: 0 0;
      max-width: 800px;
      
      &-subtitle, &-title {
        padding-left: 55px;
        max-width: 100%;
      }
    }
  }
}

.single-content {
  padding-top: 35px;
  position: relative;
  .tags {
    margin-left: -40px;
    margin-bottom: 60px;
  }
}

.single-social {
  list-style: none;
  width: 46px;
  margin: 0;
  padding: 0;
  position: absolute;
top: 110px;
    left: 18vw;
  li {
    width: 46px;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: flex;
      width: 46px;
      height: 46px;
      background: #1A96B5;
      border-radius: 50%;
      align-items: center;
      align-content: center;
      transition: .3s;
      &:hover {
        transform: scale(.95)
      }
      svg {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.content-item {
  img {
    width: 100%;
    height: inherit;
    height: inherit;
  }
}

.amazon-btn {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding: 16px 20px;
  background: #FFFFFF;
  border: 1px solid #1991B1;
  border-radius: 114px;
  margin-left: 17px;
  display: inline-block;
  vertical-align: middle;
  b {
    position: relative;
    &:before {
      content: "";
      background: url('../images/arr.svg') no-repeat center;
      width: 43px;
      height: 9px;
      position: absolute;
      top: -5px;
      left: 0;
    }
  }
}

.amazon-block {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #27AE60;
}
