@import '../../mq';

@media #{$tabletPortrait} {
  @import '../mobile';

  & {
    .posts-item .card-title {
      min-height: 78px;
    }

    .tags .title {
      width: inherit;
      margin-bottom: 0;
    }

    .tags-block .tags {
      justify-content: flex-start;
    }

    .tags {
      order: auto;
      max-width: calc(60% - 15px);
      flex-wrap: nowrap;

      .tags-list {
        margin-bottom: 0;

        li {
          margin-left: 20px;
          margin-right: 0;
        }
      }
    }

    .input-search {
      max-width: 40%;
      margin-right: 15px;
    }
  }

  .top-news {
    display: flex;
    flex-wrap: wrap;

    .news-title {
      width: 100%;
    }

    .news-item {
      max-width: 50%;
    }
  }

  .tags-block {
    .tags {
      max-width: 100%;
    }
  }

  .tags-list {
    flex-wrap: wrap;
  }
  
    .products_v2 .products-item {
    flex-wrap: nowrap;
    justify-content: space-between;
    .img {
      order: 1;
      margin: 0 15px 0 0;
    }
    
    .products-group {
      order: 3;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 52px;
      .prices {
        margin-right: 0;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .title {
      order: 2;
      margin-top: 0px;
//      max-width: 285px;
    }
  }
}
